
.main{
  width: 715px;
  height: 1040px;  
  background-color: rgb(41, 17, 17); 
  padding:10px;
  overflow: hidden;


}
.container{
  width: 700px;
  height: 1030px;   
  background-color: rgb(255, 252, 252); 
  position: absolute; 
  
}
.header{
  display: flex; 
  height: 4%;
  position: relative;
  top: 0%;
  left: 0%;
  overflow: hidden;
  
}
.logo{
  height: 100%;
  width: 25%;
  margin-left: 1%;
  position: relative;
  left: 0%;
  top: 0%;
  
}
.name{
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 50%;  
  align-items: center;
  text-align: center;
  font-size: 16pt;
  margin-right: 1pt;
  justify-content: center;
  align-content: center;

}
.boxNumb{  
  position: relative;
  top: 0%;
  right: 0%;
  height: 100%; 
  width: 25%; 
  float: right;

}
.numberTerm{
  text-align: left;
  font-size: 8pt;
}
.formTerm{
  display: flex;
}
.InputNumb{
  width: 44%;
  height: 14px;
  border-radius: 2%;
  border-color: #FFF;
}
.inputNumber{
  width: 53%;
  height: 14px;
  font-size: 10pt;
  border-radius: 2%;
  border-color: #FFF;
}
  

.unid{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;  
  height: 3%;
  background-color: rgb(243, 241, 241);
  align-items: center;
  justify-content: center;
   

}
.inpUnid2{
  width:49%;
  margin-top: 1%;
  border-radius: 4%;
  height: 42%;
  border-color: #FFF;
}
/*para todos os navegadores*/
.inpUnid2::placeholder{
  font-size: 55%;
}
/*para IE*/
.inpUnid2:-moz-placeholder{
  font-size: 55%;
}

.inpDr1{
  width: 6%;
  border-radius: 4%;
  height: 40%;
  border-color: #FFF;
}
.inpSTO{
  border-radius: 4%;
  height: 40%;
  width: 13%;
  border-color: #FFF;
}
/*para todos os navegadores*/
.inpDr1::placeholder{
  font-size: 55%;
}
/*para IE*/
.inpDr1:-moz-placeholder{
  font-size: 55%;
}
/*para todos os navegadores*/
.inpSTO::placeholder{
  font-size: 55%;
}
/*para IE*/
.inpSTO:-moz-placeholder{
  font-size: 55%;

}
.inpUnidPost{
  width:49%;  
  border-radius: 4%;
  height: 33%;
  border-color: #FFF;

}
.inpObj{
  width:13%;  
  border-radius: 4%;
  height: 33%;
  border-color: #FFF;
}
.inpObj::placeholder{
  font-size: 55%;  
}

.inputPeso{
  border-radius: 2%;
  height: 33%;
  width: 4%;
  border-color: #FFF;
}
.inputPeso::placeholder{
  font-size: 55%; 
}
.unidPost{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 4%;
}
.uniPost{
  font-size: 10pt;
  height: 8%;
  margin-left: 1%;
}
.DadosRemDestbox{
  position: relative;
  top: 0%;
  left: 0%;
  display: flex;
  height:25%;
  width: 100%;
  background-color: rgb(230, 228, 215);
  
}
.RemDestbox{
  position: relative;
  top: 0%;
  left: 0%;
  background-color: rgb(206, 206, 183);
  width: 62%;
  height: 100%;
  margin-right: 1%;
}
.endRD{
  position: relative;
  top: 0%;
  left: 0%;
  width: 70%;
  border-radius: 4%;
  border-color: #FFF;
}
.endRD:-moz-placeholder{
  font-size: 55%;
}
.endRD::placeholder{
  font-size: 55%;
}
.inpUnid{
  width: 68%;
  border-radius:4%;
  border-color: #FFF;

}
.inpUnid::placeholder{
  font-size: 55%
}
.inpCep{
  width: 18%;
  border-radius: 4%;
  height: 1%;
  border-color: #FFF;
}
.inpCep:-moz-placeholder{
  font-size: 55%;
}
.inpCep::placeholder{
  font-size: 55%;
  height: 1%;
  border-color: #FFF;
}
.inpNum{
  width: 11%;
  border-radius: 4%;
  height: 1%;
  border-color: #FFF;

}
.inpNum:-moz-placeholder{
  font-size: 55%;
}
.inpNum::placeholder{
  font-size: 55%;
}
.space{
  margin-bottom: 1%;
}
.formFile{
  display: flex;
  
}
.inputFile[type="file"] {
  display: none;
}
.labelFile {
  position: relative;
  left: 1%;
  top: 0%;
  padding: 2%;
  width: 20%;
  background-color: #333;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 55%;
  display: block;
  margin-top: 2%;
  cursor: pointer;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
}
.inpUnid1{
  width:75%;
  margin-top: 1%;
  border-radius: 4%;
  height: 1%;
  border-color: #FFF;
}
.inpUnid1:-moz-placeholder{
  font-size: 55%;
}
.inpUnid1::placeholder{
  font-size: 55%;
}


.submit1[type="submit"]{
  width:10%;
  height: 20%;
  margin-top: 1%;
  border-radius: 4%;
  background: #a3b4be;  
  color: white;  
  border-style: outset;  
  border-color: #2c3438;    
  font:10px arial, sans-serif;  
  text-shadow:none; 
  
}
.anormCarimbo{
  display: flex;
  width: 100%;
  height: 25%;
  background-color: rgb(243, 236, 236); 
  font-size: 70%;
  
}
.FormCar{
  width: 85%;
  height: 100%;
  
}
.fontcar{
  height: 100%;
  width: 10%;
}
.cxText[type="checkbox"]{
  border-radius: 4%;
}
.itens{
  width: 6%;
  border-radius: 4%;
  border-color: #FFF;

}
.calc{
  background-color: #000;
  color: #FFF;
  height: 50%;
  width: 12%;
  border: 1px solid #0a0;
  border-radius: 8%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  
}
#res{
  margin-left: 6%;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 1%;
 
}

  

.itens::placeholder{
  font-size: 55%;
}
.Obs{
  width: 62%;
  border-bottom: 1% solid #fff;
  border-radius: 4%;
  border-color: #FFF;
}
.Obs1{
  width: 97%;
  margin-left: 1%;
  border-bottom: 1% solid #fff;
  border-radius: 4%;

}
label{
  font-size: 94%;
}
.encTotal{
  background-color: rgb(204, 204, 223);
  overflow: hidden;
  height: 16%;
}
.bltext1{
  width: 40%;
  height: 1%;
  border-radius: 4%;
  border-color: #FFF;
}
.bltext2{
  width: 18%;
  height: 1%;
  border-radius: 4%;
  border-color: #FFF;
}
.bltext3{
  width: 5%;
  height: 1%;
  border-radius: 4%;
  border-color: #FFF;
}
.bltext4{
  width: 5%;
  height: 1%;
  border-radius: 4%;
  border-color: #FFF;
}
.bltext6{
  width: 56%;
  height: 1%;
  border-radius: 4%;
  border-color: #FFF;
}
.confer{
  display: flex;
  width: 100%;
  height: 11%;
 
}
.boxMat{

  width: 33%;
  height: 4%;
 
}
.boxass{
  margin-left: 1%;
  width: 95%;
  height: 15px;
  border: 1pt solid #000;
  border-radius: 4%;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  



}
.inputConfer{
  margin-left: 1%;
  width: 95%;
  border-radius: 4%;
  border-color: #FFF;
}
.inputConferMat{
  margin-left: 1%;
  width: 50%;
  border-radius: 5%;
  border-color: #FFF;
}
.inputConfer::placeholder{
  font-size: 55%;
}
.inputConfer-moz-placeholder{
  font-size: 55%;
}
 
.inputConferMat-moz-placeholder{
  font-size: 55%;
}
.inputConferMat::placeholder{
  font-size: 55%;
}
.declar{
  width: 100%;
  background-color: rgb(253, 253, 253);
  height: 10%;
}
.bltext7{
  width: 45%;
  height: 1%;
}
.bltext8{
  width: 75%;
  height: 1%;
}
.bltext9{
  width: 75%;
  height: 1%;
}

.block{ 
  
  display: flex;
  flex-direction: row;
  margin-top: 10px;  
  height: 18px;

}
.block1{
  display: flex;
  flex-direction: row; 
  height: 18px;
}

.b1{
   
  height: 15%;
  width: 10%;
}
.b2{

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 17px;
  width: 31%;
  border-bottom: 1pt solid #000;
}
.b3{  
  height: 17px;
  width: 2%;
}
.b4{

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 17px;
  width: 26%;
  border-bottom: 1pt solid #000;
}
.b5{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
 
  height: 17px;
  width: 16%;

}
.b6{ 
  height: 17px;
  width: 9%;
  border-bottom: 1pt solid #000;


}.p1{
  height: 17px;
  width: 10%;
}
.p2{
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 17px;
  width: 31%;
}
.p3{
  height: 17px;
  width: 2%;
}
.p4{
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 17px;
  width: 26%;
}
.p5{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 17px;
  width: 16%;
  text-align: center;
}
.p6{
  height: 17px;
  width: 9%;
}





  
