body{
  width: 1000px;
  height: 11000px;
  
}

@media print { 
  .notprint { visibility:hidden; } 
}
#popup{
  position: fixed;
  top: 0;bottom: 0;left: 0;right: 0;
  width: 600px;
  height: 600px;
  margin: auto;
  background-color: rgb(250, 242, 242);
  padding: 10px;
  border: black 1pt solid;
  display: none;

}
.modal-container{
  width: 100vw;
  height: 100vh;
  left: 0px; right: 0px; bottom: 0px;top: 0px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2000;
  display: flex;
  display: none; 
  justify-content: center;
  align-items: center;
}
.modal-container.mostrar{
  display: flex;
}
.modal{
  background-color: cornsilk;
  width: 40%;
  min-width: 600px;
  padding: 40px;
  border: 10px solid #988b7a;
  box-shadow: 0 0 0 10px white;
  position: relative;

}
@keyframes modal{
  from{
    opacity: 0;
    transform: translate3d(0,-60px,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);

  }
}
.mostrar.modal{
  animation: modal.3s;
}

.fechar{
  position: relative;
  font-size: 1.2em;
  top: -90%;
  right: -90%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #988b7a;
  color: rgb(252, 248, 248);
  font-family: "PT Mono", monospace;
  cursor: pointer;
  box-shadow: 0 4px 0 rgba(0,0,0,.3);
}

/*fim modal*/
/* Todas as baideiras inicio*/
.container{
  width: 100%;
  height: 100%;
  background-color: rgb(250, 242, 242);
}
table{
  width: 100%;
  height: 100%;
}
tr{
  height: 50%;
  
}
th{
  height: 50%;
  

}
.date{
  border-radius: 6%;
  width: 100%;
  height: 100%;
  border: 1px solid #fff; 
  align-items: center;
  text-align: center;
  font-size: 99%;


}
.distrito{
  border-radius: 6%;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;  
  align-items: center;
  text-align: center;
  font-size: 99%;
}
.opções{
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 99%;
}
.bt{
  border:1px solid #25692A;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:16px;
  padding:12px 15px;
  text-decoration:none;
}


.containerband{
  width: 990px;
  height: 100%;
  margin-left: 0.5%;
  border: rgb(236, 238, 234) 1pt solid;
  background-color: rgb(201, 219, 219);
}
/*.section{
  width: 100%;
  height: 12.9%;
  border: darkblue 1pt solid;
  margin-bottom: 10%;
  margin-top: 1%;

}
*/
.bandeira{
  width: 100%;
  height: 650px;
  margin-bottom: 11%;
  margin-top: 2%;
  border: 1pt solid #000;
}
.image{
  height: 50px;
  width: 180px;
}
.head{
  display: flex;
  width: 100%;
  height: 10%;
}
.headtext{
  display: flex;
  width: 33%;
  text-align: center;
  font-size: 23pt;
  align-items: center;
  text-align: center; 
  justify-content: center

}
.uniddate{
  display: flex;
  
  width: 100%;
  height: 30%;

}
.unidade{
  width: 49.5%;
  background-color: rgb(197, 189, 178);
  font-size: 60px;
  text-align: center;
  justify-content: center;
}

.select{
  width: 50%;
}


.option{
  background-color: rgb(245, 244, 231);
  width: 100%;
  height: 50%;
  font-size: 80px;
  text-align: center;

}
.data{
  background-color: rgb(236, 236, 231);
  width: 100%;
  height: 50%;
  font-size: 90px;
  text-align: center;
}

.distrit{
  display: flex;
  background-color: rgb(236, 228, 228);
  width: 100%;
  height: 50%;
}
.numerotext{
  display: flex;
  background-color: darkturquoise;
  width: 15%;
  height: 100%;
  font-size: 100px;
  align-items: center;
  text-align: center; 
  justify-content: center;

}
.numerofolha{
  display: flex;
  background-color: darkturquoise;
  width: 35%;
  height: 100%;
  font-size: 160px;
  align-items: center;
  text-align: center; 
  justify-content: center;
  
  
}
.headtext{
  display: flex;
  width: 50%;
  text-align: center;
  font-size: 23pt;
  align-items: center;
  text-align: center; 
  justify-content: center

}
.celula{
  width: 40%;
  height: 10%;
  margin: 1%;
  
}
.celulas{
  font-size: 17pt;
  font-weight: bold;
}
/* Todas as baideiras FIM*/
/* classes para bandeiras individuais*/